@model string
@{
    ViewData["Title"] = "CREATE ROLE";
}

<h1 class="text-white">Create a Role</h1>

<form asp-action="Create" method="post">
    <div class="form-group">
        <label for="name">Name:</label>
        <input name="name" class="form-control" />
    </div>
    <button type="submit" class="btn btn-info btn-lg">Create</button>
    <a asp-action="Index" class="btn btn-info btn-lg">Back</a>
    <div asp-validation-summary="All" class="text-danger"></div>
</form>