@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in our shop!</h1>
    <p>Projekt utworzony przez Rafała Krawczyka, Konrada Dąbrowskiego oraz Daniela Włodka</a>.</p>
</div>
